<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form style="margin:100px; display: inline-block">
    <div style="font-family: verdana; color: gray">
        <img alt="" style="height: 30px"
             src="https://www.chungbuk.ac.kr/resource/DATA/board/201304/E91C01365489298727.jpg">
        <h3 style="text-align: left">Hi,</h3>
        <h3 style="text-align: left">Someone tried to find for an subway-routing-map-service account</h3>
        <h3 style="text-align: left" th:text="|with ${email}. If it was you,|"></h3>
        <h3 style="text-align: left">login to Instagram with new password:</h3>
        <h1 style="font-size:200%;text-align: center" th:text="${code}"></h1>
    </div>
</form>
</body>
</html>